/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/public/.htaccess
/resources/assets/bower
todo.txt

/public/css/
/public/fonts/
/public/js/
/public/mix-manifest.json

/.idea/
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
