/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/resources/assets/bower
todo.txt

/public/css/
/public/fonts/
/public/images/
/public/js/
/public/sounds/
/public/mix-manifest.json

/.idea/
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php

package-lock.json
npm-shrinkwrap.json
yarn-error.log
